  
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 20px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border: 5px solid transparent;
    border-radius: 100px;
    background-color: #555;
    background-clip: content-box;
}